<div class="alert">
  <ul>
    <%= link_to "Add a Task!", "/tasks/new" %>
    <%= link_to "tasks", "/" %>
    <%= link_to "Peeps!", "/people" %>
  </ul>
</div>

<section>
<h1 class="add_task_head">Let's make a new task!</h1>
<%= render partial: "form", locals: { completed_at: nil } %>
</section>
