<h1> Task details</h1>

<h2>Task Name: <%= @task.name %></h2>
<p> Description: <%= @task.description %> </p>

<%if @task.completed_at.blank?%>
  <p> Task is not completed</p>
  <%else %>
  <p> Completed: <%=@task.completed_at %></p>
<%end %>


<p> <%= link_to "Return to task list", tasks_path %> </p>