<main>

  <p><%= @task.name %></p>
  <p><%= @task.description %> </p>

  <%if @task.completed_at.blank?%>
    <p> Task is not completed</p>
  <%else %>
    <p> Completed: <%=@task.completed_at %></p>
  <%end %>


  <p> <%= link_to "Return to task list", tasks_path %> </p>
</main>
