/*body {
  background-color: #393E41;
}


header {
  font-family: fantasy;
  background-color: #FFF1D0;
  color: #44BBA4;
  text-align: center;
}

h2 {
  color:  #EDB6A3;
}

article h2 {
  color: #E7BB41;
}

article p {
  display: inline;
}*/
