
<div>
  <%= button_to "Add a Task!", "/products/1" %>
</div>

<h1 class="wave_one_header"> My Task List</h1>

<section>
  <ul class="WHOOT">
    <% @tasks.each do |task| %>
      <li><%= link_to task.name, "/#{task.id}" %></li>
    <%end%>
  </ul>
</section>
