<div class="alert">
  <ul>
    <%= link_to "Add a Task!", "/tasks/new" %>
    <%= link_to "tasks", "/" %>
    <%= link_to "Peeps!", "/people/" %>
  </ul>
</div>

<h1> Hi, let's make a new task!</h1>
<%= render partial: "form" %>
